* {
    margin: 0;
    padding: 0
}

body {
    background-color: #c4c4c4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: #000;
    color: rgb(226, 46, 46);
    padding: 35px;
    font-family: Arial, sans-serif
  
}

.formulario {
    background-color: rgb(128, 30, 30);
    padding: 12px 20px 12px 40px;
    color: rgb(107, 37, 37);
    
    
}
 
 
body 
{
     
  
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  
    margin: 100;
    padding: 0;
    background: url(foto.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
